<div class="max-w-xs rounded-md shadow-sm">
  <input
    class="block w-full transition duration-150 ease-in-out form-input sm:text-sm sm:leading-5"
    id="{{ name }}"
    name="{{ name }}"
    type="{{ type ? type : 'text' }}"
    @if(placeholder)
      placeholder="{{ placeholder }}"
    @endif
    @if(value)
      value="{{ value }}"
    @endif
    {{ required ? 'required' : null }}
  >
</div>
