<div class="flex max-w-lg rounded-md shadow-sm">
  <textarea
    class="block w-full transition duration-150 ease-in-out form-textarea sm:text-sm sm:leading-5"
    id="{{ name }}"
    name="{{ name }}"
    rows="30"
  >{{ value }}</textarea>
</div>
