<!DOCTYPE html>
<html lang="en">
<head>
  {{-- Meta Information --}}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name=viewport content="width=device-width, initial-scale=1">

  {{-- Title --}}
  <title>{{ title }} | Adonis</title>

  {{-- Scripts --}}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

  {{-- CSS --}}
  <link rel="stylesheet" href="/app.css">
</head>
<body class="bg-gray-50">
  {{--
    Include a partial into the view
    ref: http://edge.adonisjs.com/docs/partials
    --}}
  @include('layout.partials.header')

  <div class="container px-4 mx-auto">
    {{--
      Display the section content
      ref: http://edge.adonisjs.com/docs/layouts#_basic_example
      --}}
    @!section('content')
  </div>
</body>
</html>
