@font-face {
  font-family: "entypo";
  src: url(../fonts/entypo.eot?95022720);
  src: url(../fonts/entypo.eot?95022720#iefix) format('embedded-opentype'),
       url(../fonts/entypo.woff2?95022720) format('woff2'),
       url(../fonts/entypo.woff?95022720) format('woff'),
       url(../fonts/entypo.ttf?95022720) format('truetype'),
       url(../fonts/entypo.svg?95022720#entypo) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before { content: '\e800'; }
.icon-add-user:before { content: '\e801'; }
.icon-address:before { content: '\e802'; }
.icon-adjust:before { content: '\e803'; }
.icon-air:before { content: '\e804'; }
.icon-aircraft-landing:before { content: '\e805'; }
.icon-aircraft-take-off:before { content: '\e806'; }
.icon-aircraft:before { content: '\e807'; }
.icon-align-bottom:before { content: '\e808'; }
.icon-align-horizontal-middle:before { content: '\e809'; }
.icon-align-left:before { content: '\e80a'; }
.icon-align-right:before { content: '\e80b'; }
.icon-align-top:before { content: '\e80c'; }
.icon-align-vertical-middle:before { content: '\e80d'; }
.icon-archive:before { content: '\e80e'; }
.icon-area-graph:before { content: '\e80f'; }
.icon-arrow-bold-down:before { content: '\e810'; }
.icon-arrow-bold-left:before { content: '\e811'; }
.icon-arrow-bold-right:before { content: '\e812'; }
.icon-arrow-bold-up:before { content: '\e813'; }
.icon-arrow-down:before { content: '\e814'; }
.icon-arrow-left:before { content: '\e815'; }
.icon-arrow-long-down:before { content: '\e816'; }
.icon-arrow-long-left:before { content: '\e817'; }
.icon-arrow-long-right:before { content: '\e818'; }
.icon-arrow-long-up:before { content: '\e819'; }
.icon-arrow-right:before { content: '\e81a'; }
.icon-arrow-up:before { content: '\e81b'; }
.icon-arrow-with-circle-down:before { content: '\e81c'; }
.icon-arrow-with-circle-left:before { content: '\e81d'; }
.icon-arrow-with-circle-right:before { content: '\e81e'; }
.icon-arrow-with-circle-up:before { content: '\e81f'; }
.icon-attachment:before { content: '\e820'; }
.icon-awareness-ribbon:before { content: '\e821'; }
.icon-back-in-time:before { content: '\e822'; }
.icon-back:before { content: '\e823'; }
.icon-bar-graph:before { content: '\e824'; }
.icon-battery:before { content: '\e825'; }
.icon-beamed-note:before { content: '\e826'; }
.icon-bell:before { content: '\e827'; }
.icon-blackboard:before { content: '\e828'; }
.icon-block:before { content: '\e829'; }
.icon-book:before { content: '\e82a'; }
.icon-bookmark:before { content: '\e82b'; }
.icon-bookmarks:before { content: '\e82c'; }
.icon-bowl:before { content: '\e82d'; }
.icon-box:before { content: '\e82e'; }
.icon-briefcase:before { content: '\e82f'; }
.icon-browser:before { content: '\e830'; }
.icon-brush:before { content: '\e831'; }
.icon-bucket:before { content: '\e832'; }
.icon-bug:before { content: '\e833'; }
.icon-cake:before { content: '\e834'; }
.icon-calculator:before { content: '\e835'; }
.icon-calendar:before { content: '\e836'; }
.icon-camera:before { content: '\e837'; }
.icon-ccw:before { content: '\e838'; }
.icon-chat:before { content: '\e839'; }
.icon-check:before { content: '\e83a'; }
.icon-chevron-down:before { content: '\e83b'; }
.icon-chevron-left:before { content: '\e83c'; }
.icon-chevron-small-down:before { content: '\e83d'; }
.icon-chevron-right:before { content: '\e83e'; }
.icon-chevron-small-right:before { content: '\e83f'; }
.icon-chevron-small-left:before { content: '\e840'; }
.icon-chevron-small-up:before { content: '\e841'; }
.icon-chevron-thin-down:before { content: '\e842'; }
.icon-chevron-thin-left:before { content: '\e843'; }
.icon-chevron-thin-right:before { content: '\e844'; }
.icon-chevron-thin-up:before { content: '\e845'; }
.icon-chevron-with-circle-down:before { content: '\e846'; }
.icon-chevron-up:before { content: '\e847'; }
.icon-chevron-with-circle-left:before { content: '\e848'; }
.icon-chevron-with-circle-right:before { content: '\e849'; }
.icon-chevron-with-circle-up:before { content: '\e84a'; }
.icon-circle-with-cross:before { content: '\e84b'; }
.icon-circle-with-minus:before { content: '\e84c'; }
.icon-circle-with-plus:before { content: '\e84d'; }
.icon-circle:before { content: '\e84e'; }
.icon-circular-graph:before { content: '\e84f'; }
.icon-clapperboard:before { content: '\e850'; }
.icon-clipboard:before { content: '\e851'; }
.icon-classic-computer:before { content: '\e852'; }
.icon-clock:before { content: '\e853'; }
.icon-cloud:before { content: '\e854'; }
.icon-code:before { content: '\e855'; }
.icon-cog:before { content: '\e856'; }
.icon-colours:before { content: '\e857'; }
.icon-compass:before { content: '\e858'; }
.icon-controller-fast-backward:before { content: '\e859'; }
.icon-controller-fast-forward:before { content: '\e85a'; }
.icon-controller-jump-to-start:before { content: '\e85b'; }
.icon-controller-next:before { content: '\e85c'; }
.icon-controller-paus:before { content: '\e85d'; }
.icon-controller-play:before { content: '\e85e'; }
.icon-controller-record:before { content: '\e85f'; }
.icon-controller-stop:before { content: '\e860'; }
.icon-controller-volume:before { content: '\e861'; }
.icon-copy:before { content: '\e862'; }
.icon-creative-commons-attribution:before { content: '\e863'; }
.icon-creative-commons-noderivs:before { content: '\e864'; }
.icon-creative-commons-noncommercial-eu:before { content: '\e865'; }
.icon-creative-commons-noncommercial-us:before { content: '\e866'; }
.icon-creative-commons-public-domain:before { content: '\e867'; }
.icon-creative-commons-remix:before { content: '\e868'; }
.icon-creative-commons-share:before { content: '\e869'; }
.icon-creative-commons-sharealike:before { content: '\e86a'; }
.icon-creative-commons:before { content: '\e86b'; }
.icon-credit-card:before { content: '\e86c'; }
.icon-credit:before { content: '\e86d'; }
.icon-crop:before { content: '\e86e'; }
.icon-cross:before { content: '\e86f'; }
.icon-cup:before { content: '\e870'; }
.icon-cw:before { content: '\e871'; }
.icon-cycle:before { content: '\e872'; }
.icon-database:before { content: '\e873'; }
.icon-dial-pad:before { content: '\e874'; }
.icon-direction:before { content: '\e875'; }
.icon-document-landscape:before { content: '\e876'; }
.icon-document:before { content: '\e877'; }
.icon-documents:before { content: '\e878'; }
.icon-dot-single:before { content: '\e879'; }
.icon-dots-three-horizontal:before { content: '\e87a'; }
.icon-dots-three-vertical:before { content: '\e87b'; }
.icon-dots-two-horizontal:before { content: '\e87c'; }
.icon-dots-two-vertical:before { content: '\e87d'; }
.icon-download:before { content: '\e87e'; }
.icon-drink:before { content: '\e87f'; }
.icon-drive:before { content: '\e880'; }
.icon-drop:before { content: '\e881'; }
.icon-edit:before { content: '\e882'; }
.icon-email:before { content: '\e883'; }
.icon-emoji-flirt:before { content: '\e884'; }
.icon-emoji-happy:before { content: '\e885'; }
.icon-emoji-neutral:before { content: '\e886'; }
.icon-emoji-sad:before { content: '\e887'; }
.icon-erase:before { content: '\e888'; }
.icon-eraser:before { content: '\e889'; }
.icon-export:before { content: '\e88a'; }
.icon-eye-with-line:before { content: '\e88b'; }
.icon-eye:before { content: '\e88c'; }
.icon-feather:before { content: '\e88d'; }
.icon-fingerprint:before { content: '\e88e'; }
.icon-flash:before { content: '\e88f'; }
.icon-flag:before { content: '\e890'; }
.icon-flashlight:before { content: '\e891'; }
.icon-flat-brush:before { content: '\e892'; }
.icon-flow-branch:before { content: '\e893'; }
.icon-flow-cascade:before { content: '\e894'; }
.icon-flow-line:before { content: '\e895'; }
.icon-flow-parallel:before { content: '\e896'; }
.icon-flow-tree:before { content: '\e897'; }
.icon-flower:before { content: '\e898'; }
.icon-folder-images:before { content: '\e899'; }
.icon-folder-music:before { content: '\e89a'; }
.icon-folder-video:before { content: '\e89b'; }
.icon-folder:before { content: '\e89c'; }
.icon-forward:before { content: '\e89d'; }
.icon-funnel:before { content: '\e89e'; }
.icon-game-controller:before { content: '\e89f'; }
.icon-gauge:before { content: '\e8a0'; }
.icon-globe:before { content: '\e8a1'; }
.icon-graduation-cap:before { content: '\e8a2'; }
.icon-grid:before { content: '\e8a3'; }
.icon-hair-cross:before { content: '\e8a4'; }
.icon-hand:before { content: '\e8a5'; }
.icon-heart-outlined:before { content: '\e8a6'; }
.icon-heart:before { content: '\e8a7'; }
.icon-help-with-circle:before { content: '\e8a8'; }
.icon-help:before { content: '\e8a9'; }
.icon-home:before { content: '\e8aa'; }
.icon-hour-glass:before { content: '\e8ab'; }
.icon-image-inverted:before { content: '\e8ac'; }
.icon-image:before { content: '\e8ad'; }
.icon-images:before { content: '\e8ae'; }
.icon-inbox:before { content: '\e8af'; }
.icon-infinity:before { content: '\e8b0'; }
.icon-info-with-circle:before { content: '\e8b1'; }
.icon-info:before { content: '\e8b2'; }
.icon-install:before { content: '\e8b3'; }
.icon-key:before { content: '\e8b4'; }
.icon-keyboard:before { content: '\e8b5'; }
.icon-lab-flask:before { content: '\e8b6'; }
.icon-landline:before { content: '\e8b7'; }
.icon-language:before { content: '\e8b8'; }
.icon-laptop:before { content: '\e8b9'; }
.icon-layers:before { content: '\e8ba'; }
.icon-leaf:before { content: '\e8bb'; }
.icon-level-down:before { content: '\e8bc'; }
.icon-level-up:before { content: '\e8bd'; }
.icon-lifebuoy:before { content: '\e8be'; }
.icon-light-bulb:before { content: '\e8bf'; }
.icon-light-down:before { content: '\e8c0'; }
.icon-light-up:before { content: '\e8c1'; }
.icon-line-graph:before { content: '\e8c2'; }
.icon-link:before { content: '\e8c3'; }
.icon-list:before { content: '\e8c4'; }
.icon-location-pin:before { content: '\e8c5'; }
.icon-location:before { content: '\e8c6'; }
.icon-lock-open:before { content: '\e8c7'; }
.icon-lock:before { content: '\e8c8'; }
.icon-log-out:before { content: '\e8c9'; }
.icon-login:before { content: '\e8ca'; }
.icon-loop:before { content: '\e8cb'; }
.icon-magnet:before { content: '\e8cc'; }
.icon-magnifying-glass:before { content: '\e8cd'; }
.icon-mail:before { content: '\e8ce'; }
.icon-man:before { content: '\e8cf'; }
.icon-map:before { content: '\e8d0'; }
.icon-mask:before { content: '\e8d1'; }
.icon-medal:before { content: '\e8d2'; }
.icon-megaphone:before { content: '\e8d3'; }
.icon-menu:before { content: '\e8d4'; }
.icon-merge:before { content: '\e8d5'; }
.icon-message:before { content: '\e8d6'; }
.icon-mic:before { content: '\e8d7'; }
.icon-minus:before { content: '\e8d8'; }
.icon-mobile:before { content: '\e8d9'; }
.icon-modern-mic:before { content: '\e8da'; }
.icon-moon:before { content: '\e8db'; }
.icon-mouse-pointer:before { content: '\e8dc'; }
.icon-mouse:before { content: '\e8dd'; }
.icon-music:before { content: '\e8de'; }
.icon-network:before { content: '\e8df'; }
.icon-new-message:before { content: '\e8e0'; }
.icon-new:before { content: '\e8e1'; }
.icon-news:before { content: '\e8e2'; }
.icon-newsletter:before { content: '\e8e3'; }
.icon-note:before { content: '\e8e4'; }
.icon-notification:before { content: '\e8e5'; }
.icon-notifications-off:before { content: '\e8e6'; }
.icon-old-mobile:before { content: '\e8e7'; }
.icon-old-phone:before { content: '\e8e8'; }
.icon-open-book:before { content: '\e8e9'; }
.icon-palette:before { content: '\e8ea'; }
.icon-paper-plane:before { content: '\e8eb'; }
.icon-pencil:before { content: '\e8ec'; }
.icon-phone:before { content: '\e8ed'; }
.icon-pie-chart:before { content: '\e8ee'; }
.icon-pin:before { content: '\e8ef'; }
.icon-plus:before { content: '\e8f0'; }
.icon-popup:before { content: '\e8f1'; }
.icon-power-plug:before { content: '\e8f2'; }
.icon-price-ribbon:before { content: '\e8f3'; }
.icon-price-tag:before { content: '\e8f4'; }
.icon-print:before { content: '\e8f5'; }
.icon-progress-empty:before { content: '\e8f6'; }
.icon-progress-full:before { content: '\e8f7'; }
.icon-progress-one:before { content: '\e8f8'; }
.icon-progress-two:before { content: '\e8f9'; }
.icon-publish:before { content: '\e8fa'; }
.icon-quote:before { content: '\e8fb'; }
.icon-radio:before { content: '\e8fc'; }
.icon-remove-user:before { content: '\e8fd'; }
.icon-reply-all:before { content: '\e8fe'; }
.icon-reply:before { content: '\e8ff'; }
.icon-resize-100:before { content: '\e900'; }
.icon-resize-full-screen:before { content: '\e901'; }
.icon-retweet:before { content: '\e902'; }
.icon-rocket:before { content: '\e903'; }
.icon-round-brush:before { content: '\e904'; }
.icon-rss:before { content: '\e905'; }
.icon-ruler:before { content: '\e906'; }
.icon-save:before { content: '\e907'; }
.icon-scissors:before { content: '\e908'; }
.icon-select-arrows:before { content: '\e909'; }
.icon-share-alternative:before { content: '\e90a'; }
.icon-share:before { content: '\e90b'; }
.icon-shareable:before { content: '\e90c'; }
.icon-shield:before { content: '\e90d'; }
.icon-shop:before { content: '\e90e'; }
.icon-shopping-bag:before { content: '\e90f'; }
.icon-shopping-cart:before { content: '\e910'; }
.icon-shopping-basket:before { content: '\e911'; }
.icon-signal:before { content: '\e912'; }
.icon-shuffle:before { content: '\e913'; }
.icon-sound-mix:before { content: '\e914'; }
.icon-sound-mute:before { content: '\e915'; }
.icon-sound:before { content: '\e916'; }
.icon-sports-club:before { content: '\e917'; }
.icon-spreadsheet:before { content: '\e918'; }
.icon-squared-cross:before { content: '\e919'; }
.icon-squared-minus:before { content: '\e91a'; }
.icon-squared-plus:before { content: '\e91b'; }
.icon-star-outlined:before { content: '\e91c'; }
.icon-star:before { content: '\e91d'; }
.icon-stopwatch:before { content: '\e91e'; }
.icon-suitcase:before { content: '\e91f'; }
.icon-swap:before { content: '\e920'; }
.icon-sweden:before { content: '\e921'; }
.icon-switch:before { content: '\e922'; }
.icon-tablet-mobile-combo:before { content: '\e923'; }
.icon-tablet:before { content: '\e924'; }
.icon-tag:before { content: '\e925'; }
.icon-text-document-inverted:before { content: '\e926'; }
.icon-text-document:before { content: '\e927'; }
.icon-text:before { content: '\e928'; }
.icon-thermometer:before { content: '\e929'; }
.icon-thumbs-down:before { content: '\e92a'; }
.icon-thumbs-up:before { content: '\e92b'; }
.icon-thunder-cloud:before { content: '\e92c'; }
.icon-ticket:before { content: '\e92d'; }
.icon-time-slot:before { content: '\e92e'; }
.icon-traffic-cone:before { content: '\e92f'; }
.icon-tools:before { content: '\e930'; }
.icon-tree:before { content: '\e931'; }
.icon-trash:before { content: '\e932'; }
.icon-triangle-down:before { content: '\e933'; }
.icon-triangle-left:before { content: '\e934'; }
.icon-triangle-right:before { content: '\e935'; }
.icon-triangle-up:before { content: '\e936'; }
.icon-trophy:before { content: '\e937'; }
.icon-tv:before { content: '\e938'; }
.icon-typing:before { content: '\e939'; }
.icon-uninstall:before { content: '\e93a'; }
.icon-unread:before { content: '\e93b'; }
.icon-untag:before { content: '\e93c'; }
.icon-upload-to-cloud:before { content: '\e93d'; }
.icon-upload:before { content: '\e93e'; }
.icon-user:before { content: '\e93f'; }
.icon-users:before { content: '\e940'; }
.icon-v-card:before { content: '\e941'; }
.icon-video-camera:before { content: '\e942'; }
.icon-video:before { content: '\e943'; }
.icon-vinyl:before { content: '\e944'; }
.icon-voicemail:before { content: '\e945'; }
.icon-wallet:before { content: '\e946'; }
.icon-warning:before { content: '\e947'; }
.icon-water:before { content: '\e948'; }
