<div class="bg-brand text-center text-white px-8 py-8 mb-8">
  <h1 class="font-bold uppercase text-xl2 mb-4">Adonis Framework</h1>
  <p class="mb-8">
    MVC Framework for Node.js to write webapps with less code.
  </p>
  <a class="text-white border uppercase tracking-wide py-2 px-4 rounded" href="http://adonisjs.com" role="button">
    Learn More
  </a>
</div>
